<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe-Blog</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <style>
        legend {
            text-align: center;
            font-size: 35px;
            font-family: cursive;
        }
    </style>

</head>
<body>
    <div class="container">
    <fieldset>
        <legend>Welcome</legend>
        <form action="login">
            {% csrf_token %}
            <h3>Already have an account</h3>
            <button type="submit">Login</button>
        </form>
        <form action="register">
            {% csrf_token %}
            <h3>Don't have an account</h3>
            <button type="submit">Register</button>
        </form>
    </fieldset>
    </div>
</body>
</html>